<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="navbar-brand">
      <a class="nav-link" data-method="get" href="/">e-Navigator</a>
    </div>
  </nav>

  <h2>ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :email, class: "user_email"  %><br />
      <%= f.email_field :email, class: "form-control", id: "user_enail", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "user_password" %><br />
      <%= f.password_field :password, class: "form-control", id: "user_password", autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, id: "user_remember_me" %>
        <%= f.label :ログインを記録する %>
      </div>
    <% end -%>

    <br>
    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-success" %>
    </div>
  <% end %>
  <br>

  <%= render "devise/shared/links" %>

</div>



